.body {
  background: var (--color-bg);
}
.body-container-title h1{
  color: #000;
  
}

.body-container-image img {
  width:100%;
  height: 700px;
  padding: .5rem 2rem;
  border-radius: 30px;
  
  
}
.body-container-image {
  display: flex;
  border-radius: 30px;
  
  padding: 1rem 1rem;
  margin: 1rem 2rem;
}
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 3rem .5rem;
  
}
.body-container-title {
  
 
}
