 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 
 body {
   background: var(--color_bg);
   color: white;
 }
 a {
   color: unset;
   text-decoration: none;
 }
 .gradient_bg {
background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
 }
 .gradient-text {
   background: linear-gradient(to right, #243949 0%, #517fa4 100%);
   color: #d0a54c;
   background-clip: text;
   -webkit-background-clip: text;
   
 }
 .section_padding {
   padding: 4rem 6rem;
 }
 .section_margin {
   margin: 4rem 6rem;
 }
 @media screen and (max-width:720px) {
   
   .section_padding {
     padding: 4rem;
   }
   
   .section_margin {
     margin: 4rem;
   }
 }
 @media screen and (max-width:550px) {
   .section_padding {
     padding: 4rem 2rem;
   }
   .section_margin {
     margin: 4rem 2rem;
   }
 }
 .scale-up-center {
   -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.431, 0.2, 1.00) both;
   animation: scale-up-center 0.4s cubic-bezier(0.43, 0.65, 0.66, 1.00 )both;
 }
 @-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1.0);
     transform: scale(1.0);
   }
 }